html, body {margin: 0; height: 100%; overflow: hidden}

.App {
  text-align: center;
  }

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 80px;
}

.Spinner {
  animation: App-logo-counter-spin infinite 1.5s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-counter-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
